
 {% load staticfiles %}

<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel = "stylesheet" type = "text/css" href = "{% static 'politics/styless.css' %}" />
<link href = 'https:://fonts.googleapis.com/css?family=Satisfy' rel = 'stylesheet' type = 'text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<nav class= "navbar navbar-inverse">
<div class = "container-fluid">
    <div class="navbar-header">
    
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target = "#topNavBar">
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
        </button>
        <a class = "navbar-brand" href="{% url 'politics:index' %}">Opinionated</a>
    </div>
    
    <div class = "collapse navbar-collapse" id="topNavBar">
        <ul class = "nav navbar-nav">
            <li class = "active">
                <a href="{% url 'politics:index' %}">
                <span class = "glyphicon glyphicon-flag" aria-hidden="true"></span>&nbsp; Politics
                </a>
            </li>
                <li class = "">
                <a href="#">
                <span class = "glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp; Science & Technology
                </a>
            </li>
            </li>
                <li class = "">
                <a href="#">
                <span class = "glyphicon glyphicon-headphones" aria-hidden="true"></span>&nbsp; Gaming
                </a>
            </li>
            </li>
                <li class = "">
                <a href="#">
                <span class = "glyphicon glyphicon-Book" aria-hidden="true"></span>&nbsp; Education
                </a>
            </li>
        </ul>
        <form class = "navbar-form navbar-left" role = "search" method = "get" action = "#">
            <div class = "form-group">
                <input type = "text" class = "form-control" name="q" value="">
            </div>
            <button type = "submit" class="btn btn-default">Search</button>
        </form>
        
        <ul class = "nav navbar-nav navbar-right">
        </li>
                <li class = "">
                <a href="{% url 'politics:debate-add' %}">
                <span class = "glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Upload Debate
                </a>
            </li>
             </li>
                <li class = "">
                <a href="/profile/view">
                <span class = "glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Profile
                </a>
            </li>
        </ul>
        
    </div>
    
</div>
</nav>







<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Debate Info -->
        <p>
            <div class="col-sm-4 col-md-10 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'politics:detail' debate.id %}">

                        </a>
                        <center>
                            <h1>{{ debate.title }}</h1>
                            <h3>{{ debate.username }} <img src="{{ user.userprofile.image.url}}" class="img-circle" alt="Cinque Terre" width="35" height="35"></h3>
                        </center>
                    </div>
                </div>
            </div>
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>












        <!-- Right Comments Info -->
        <center>
            <a href="{% url 'politics:comment-add' debate.id %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Add a Comment
                </button>
            </a>
        </center>


        {% for comment in debate.comments.all %}
        <div class="col-sm-4 col-md-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <p>Date: {{ comment.timestamp }}</p>
                        <p>Username: {{ comment.user }}</p>
                        <p>{{ comment.content }}</p>
                        {% for parent in comment.replies.all %}
                        <br>
                        <br>
                        <br>

                        <p>Date: {{ parent.timestamp }}</p>
                        <p>Username: {{ parent.user }}</p>
                        <p>{{ parent.content }}</p>
                        {% endfor %}
                        <div class="form-group row">
                            <a href="{% url 'politics:reply-add' debate.id %}">
                                <button type="button" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>&nbsp; Reply
                                </button>
                            </a>
                        </div>
                    </center>
                </div>
            </div>
        </div>





                {% empty %}
                <p>Be the First to Comment!</p>

                {% endfor %}


                <head>
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <style>
                        body {
                            color: white;
                        }

                        #myBtn {
                            display: none;
                            position: fixed;
                            bottom: 20px;
                            right: 30px;
                            z-index: 99;
                            font-size: 18px;
                            border: none;
                            outline: none;
                            background-color: purple;
                            color: white;
                            cursor: pointer;
                            padding: 15px;
                            border-radius: 4px;
                        }

                            #myBtn:hover {
                                background-color: #555;
                            }
                    </style>
                </head>
                <body>


                    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>


                    <script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("myBtn").style.display = "block";
  } else {
    document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}</script>

                </body>


            </div>

        </div>


	
	

